.hexagonWrapper {
  transform: translateX(-32px);
  #upper {
    transform: translateX(-40px);
    width: 240px;
  }

  .hexagon {
    display: flex;

    .triangleDark {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      height: 80px;
      width: 80px;
      background-color: theme-color-level(primary-darker);
    }
    .triangleLight {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      height: 80px;
      width: 80px;
      background-color: theme-color-level(primary);
    }
    #rotated {
      margin-right: -41px;
      margin-left: -41px;
      transform: rotate(180deg);
    }
  }
}
